.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    min-width: 200px;
    flex: 1;
}
.pdf-container {
    width: 100%;
    min-width: 525px;
    flex: 5;
}

.video-container {
    min-width: 425px;
    flex: 4;
    place-self: center;
}